<%- include('./partials/head.ejs') %>

<h1>Current Workout</h1>



<a href="/workout-tracker/<%= workoutID %>/new-exercise">ADD EXERCISE</a>

<br/>

<form action="/workout-tracker/<%= workoutID %>/currentPost" method="post">
  <input type="submit" value="Finish workout">
</form>


<h2>Exercises completed:</h2>


<!-- completed exercises -->
<% workout.exercises.reverse().forEach((exercise) => { %>
    <p><%= exercise.exerciseName %></p>
  <% }) %>
