<%- include('./partials/head.ejs') %>


<div class="container">

    <h1 class="delete_title">Confirm</h1>

    <form class="delete_button" action="/workout-tracker/<%= workoutID %>?_method=DELETE" method="post">
        <input class='btn btn-dark' type="submit" value="Delete" /> 
    </form>

</div>






<%- include('./partials/foot.ejs') %>