<%- include('./partials/head.ejs') %>


<div class="homePage">

    <a class='to-workouts btn btn-dark' href="/workout-tracker">
        To workouts
    </a>

    
    <div>
        <h1 class="appName" id="home-title">IRON TEMPLE WORKOUT TRACKER</h1>
        <p><a class='home-anchor btn btn-dark' href="/login">LOGIN</a></p>
        <p><a class='home-anchor btn btn-dark' href="/register">REGISTER</a></p>

    </div>



</div>








<%- include('./partials/foot.ejs') %>