<%- include('./partials/head.ejs') %>

<h1>Login</h1>

<!-- displays error message if username or passwor is incorrect -->
<%- include('./partials/flash.ejs') %>



<form method="POST" action="/login">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />

    <input type="submit" value="Login" />
</form>