<%- include('./partials/head.ejs') %>

<h1>Add workout</h1>

<form action="/workout-tracker" method="POST">

    <label for="workoutName">Name:</label>
    <input type="text" name="name" id="workoutName"/>

    <label for="exercise">Exercise:</label>
    <input type="text" name="exercises" id="exercise"/>
<!-- 
    <label for="sets">Number of sets:</label>
    <input type="text" name="sets" id="sets"/>

    <label for="weight">Weight:</label>
    <input type="weight" name="weight" id="weight"/> -->

    <input type="submit" value="ADD"/>

</form>