<%- include('./partials/head.ejs') %>

<h1>Add exercise</h1>


<form class='new-exercise' action="/workout-tracker/<%= ID %>/exercisePost" method="POST">

    <label for="exercise">Exercise name:</label>
    <input type="text" name="exerciseName" id="exercise"/>

    <br/>

   
    <input type="Number" name="reps" class="add-reps" placeholder="reps">

    <br/>


    <input type="Number" name="weight"  class="add-weight" placeholder="weight">

    <br/>
    

    <input type="submit" value="finsh exercise" class='finish-exercise'/>

</form>


<button class="add-set">add set</button>