<%- include('./partials/head.ejs') %>


<h2>review workout</h2>

<h2><%= workout.name %></h2>

<% for(let i = 0; i < workout.exercises.length; i++) { %>
    <h2><%= workout.exercises[i].exerciseName %></h2>
    <p><%= workout.exercises[i].exerciseDescription %></p>
<% } %>


