body {
    background: black;
    height: 100%;
    color: #05D5FA;
    font-family: 'Dela Gothic One', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-height: 100vh;
}


/* -----------HOME PAGE-------------- */
.homePage {
    grid-row: 2/3;
    grid-column: 2/3;
}
.home-anchor {
    display: flex;
    justify-content: center;
    align-items: center;
}
.appName {
    display: flex;
    justify-content: center;
} 



/* ---------------LOGIN FORM------------- */
.login-form {
    color: black;
}



/* ---------------REGISTER FORM------------- */
.register-form {
    color: black;
}



/* ---------------INDEX PAGE------------- */


.name_workout {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/4;
    min-width: 100%
}
.index_title {
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.completed_workouts {
    grid-row: 2/3;
    grid-column: 1/4;
}
.delete_btn {
    display: grid; 
    grid-column: 3/4;
}

/* ---------------DELETE PAGE---------------- */

.delete_title {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.delete_button {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* -----------------CURRENT WORKOUT--------------- */
.current_workout_title {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.completed_exercises {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;

}
.completed_exercises_title {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.finish_workout_button {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_exercise_current_button {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* -----------------ADD EXERCISES PAGE------------------- */
.add_exercises_title {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.add_set {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----------------------SHOW PAGE-------------------------- */
.show_page_title {

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.exercises_list_show {
    color: white;
}
.show_page_list {
    grid-column: 2/3;
    grid-row: 2/3;
}

/* ----------------------EDIT PAGE-------------------------- */
.edit_exercise_title {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.add_set {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new_exercises {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
